# Segmentation pipeline additional dependencies
# Install inside the Docker/conda environment:
#   pip install -r seg_pipeline/requirements-seg.txt

segmentation-models-pytorch>=0.5.0,<0.6
timm>=0.9.16
tensorboard>=2.13.0
matplotlib>=3.7.0
